div.content {
  /* background-color:#f6f6f6;
  border-left:1px solid bluegrey; 
  border-right:1px solid bluegrey;
  border-top:1px solid bluegrey;
  border-bottom:1px solid bluegrey; */
  width:1024px;
  margin-left:auto; margin-right:auto;
}
div.f { width: 100%; }
div.f div.license { float: left; width:33%; }
div.f div.project { 
    display: inline-block; 
    margin:0 auto; 
    text-align: center;
    width:33%;
}
div.f div.logo { float: right; width:33%;}

h1 { 
    background-color: orange; 
    text-align: center;
    width: 100%;
}
.libTop { 
    color: white;
    background-color: teal; 
}
.appTop { 
    color: white;
    background-color: seagreen; 
}

h2 { border-bottom: solid 10px  #e5e4d9; }
h3 { border-bottom: solid  5px  #e5e4d9; }
